/* =========RESET========== */

* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-style: normal;
  display: inline-block;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
  font: inherit;
}

/* ==========GLOBAL========= */

body {
  background: #000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(74, 40, 0, 1) 100%
  );
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.88;
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* ==========HEADER========== */

.header {
  padding-top: 44px;
  padding-bottom: 60px;
}
.header .container {
  max-width: 1352px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-right: 36px;
}

.logo {
  font-weight: 800;
  font-size: 29px;
  line-height: 1.54;
  text-transform: uppercase;
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: center;
  column-gap: 88px;
  z-index: 2;
}
.nav-list-item {
}
.nav-list-link {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #fa9021;
}

.contact-btn {
  font-size: 13px;
  border-radius: 6px;
  width: 131px;
  height: 41px;
  background: #fa9021;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #e88720;
}

.contact-btn:active {
  background-color: #c9751b;
}

.contact-btn::after {
  content: "";
  position: absolute;
  inset: -5px 0 -5px;
  background: transparent;
}

/* =====HERO SECTION==== */

.hero {
  position: relative;
  z-index: 1;
}
.hero .container {
  padding-top: 60px;
  padding-bottom: 90px;
}
.hero-text-wrapper {
  max-width: 480px;
}
.hero-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.55;
  color: #e87d0e;
  margin-bottom: 18px;
}
.hero-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.55;
  margin-bottom: 26px;
}
.hero-description {
  font-weight: 500;
  line-height: 2;
  margin-bottom: 50px;
}
.details-btn {
  border-radius: 40px;
  width: 195px;
  height: 53px;
  background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-btn:hover,
.details-btn:focus {
  background: linear-gradient(113deg, #c9751b 0%, #fa8305 100%);
}

.hero-img {
  position: absolute;
  top: -170px;
  right: 0;
}
